[Unit]
Description=LynxPmCoreIbero
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/apps/www/api/LynxPmCoreIbero
ExecStart=/bin/dotnet /apps/www/api/LynxPmCoreIbero/LynxPmCore.Api.dll
ExecStop=/bin/kill -s SIGINT $MAINPID
Restart=always
RestartSec=10
KillSignal=SIGINT
TimeoutStopSec=30
SuccessExitStatus=143
SyslogIdentifier=LynxPmCoreIbero

ProtectSystem=strict
ProtectHome=no
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes

ReadOnlyPaths=/
ReadWritePaths=/apps/www/api/LynxPmCoreIbero/

LimitNOFILE=4096
LimitMEMLOCK=infinity
LimitSTACK=8388608

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=LYNX_CLIENT=iberofama
Environment=LYNX_ENVIROMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://0.0.0.0:8199

StandardOutput=journal
StandardError=journal

User=opc

[Install]
WantedBy=multi-user.target
